<div class="flex flex-col-reverse justify-center items-center gap-y-6 text-stone-700 dark:text-stone-200">
	{% for item in tabData['steps'] %}
		<div class="flex sm:flex-row flex-col-reverse sm:justify-start items-center w-3/4 m-auto gap-x-6">
			<div class="sm:mr-10 mt-4 sm:mt-0 text-2xl">
				{% if loop.index0 == 0 %}
					<i class="fa-solid fa-flag"></i>
				{% else %}
					<i class="fa-solid fa-circle-dot"></i>
				{% endif %}
			</div>
			
			<div class="py-6 px-8 border-gray-400 border-solid border-2 rounded-sm">
				<p class="text-lg font-semibold text-center text-stone-900 dark:text-stone-300">
					{{ item['name'] }}
				</p>

				<p class="my-6">
					{{ item['description'] }}
				</p>

				<p class="text-right italic text-stone-40 dark:text-stone-2000">
					Année : {{ item['year'] }}
				</p>
			</div>
		</div>
	{% endfor %}
</div>