{% block content %}
<div>
	<h1 class="text-3xl font-semibold">Gestion des signalements</h1>

	<div class="w-full flex flex-col justify-start items-start gap-y-4 mt-10">	
		{% for report in data %}
		<div class="report__card gid grid-auto-rows grid-auto-cols gap-y-2 p-4">
			<p class="text-lg font-semibold text-stone-800">
				{{ report['object'] }}
			</p>
			<p>
			<a href="{{ report['path'] }}">Type : <span class="px-4 py-2 report__type--{{ report['content_type'] }} text-white rounded-md">{{ report['content_type'] }}</span></a>
			</p>
			<p>
				{{ report['description'] }}
			</p>
			<p class="text-stone-400 italic text-[0.9em]">
				{{ report['dt_upload'] }}
			</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}

{% block css %}
<style>
	.report__card {
		display: grid;
		border-bottom: solid #9CA3AF 2px;
	}

	.report__card:last-child {
		border-bottom: none;
	}

	.report__type--post {
		background-color: #0F766E;
	}

	.report__type--comment {
		background-color: #B91C1C;
	}

	.report__type--user {
		background-color: #15803D;
	}

	.report__type--announce {
		background-color: #0369A1;
	}
</style>
{% endblock css %}
